.AppProcess {
  background: linear-gradient(to right, #ffffff, #fafafa);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #eeeeee;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.AppProcess-Header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppProcess-Button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(to right, #A4C3B2, #85AAA1);
  color: #F6FFF8;
  font-size: 1rem;
}

.AppProgress-Bar {
  width: 100%;
}